{% extends 'cards/base.html' %}
{% block style %}
<style>
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    [id^=card-code] {
        width: 100px;
        height: 100px;
    }

    .card {
        width: 43%;
        margin: 1%
    }
</style>
{% endblock %}
{% block content %}
<h1>Welcome, {{ user }}</h1>
<video id="scan-view"></video>
{% if view.get_cards %}
<div class="card-container">
    {% for card in view.get_cards %}
    <div class="card shadow">
        <div>{{ card.name }}</div>
        <div id="card-code-{{ card.id }}" class="qr-view">
            <div style="display:none;">{{ card.id }}</div>
        </div>
        <div>
            {{ card.text }}
        </div>
        {% if card.id == view.default_card %}
        <div>This is the default card.</div>
        {% endif %}
        <button onclick="deleteCard('{{ card.id }}')">Delete</button>
    </div>
    {% endfor %}
    <div class="card shadow">
        <button onclick="createCard()">Add Card</button>
    </div>
</div>
{% else %}
<div>No cards found for {{ user }}</div>
<div class="card shadow">
        <button onclick="createCard()">Add Card</button>
</div>
{% endif %}
{% endblock %}
{% block scripts %}

<script>
    let user = "{{ user }}"
    function instascan_ready() {
        console.log("Instascan ready!")
        let scanner = new Instascan.Scanner({ video: document.getElementById('scan-view') });
        scanner.addListener('scan', function (content) {
          console.log(content);
        });
        Instascan.Camera.getCameras().then(function (cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]);
          } else {
            console.error('No cameras found.');
          }
        }).catch(function (e) {
          console.error(e);
        });
    }
</script>
{% load static %}
<script src="{% static 'cards/scripts/cookie.js' %}"></script>
<script src="{% static 'cards/scripts/qrcode.js' %}"></script>
<script src="{% static 'cards/scripts/profile.js' %}"></script>
<script onload="instascan_ready()" src="{% static 'cards/scripts/instascan.min.js' %}"></script>
{% endblock %}